@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #7B6ADA;
  --color-primary-content: #E0D6F3;
  --color-secondary: #182D89;
  --base-100: #1f2937;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7B6ADA;
  --color-primary-content: #E0D6F3;
  --color-secondary: #F1F0FE;
}